{% extends "_layouts/_base.html" %}
{% load i18n mezzanine_tags widget_tweaks %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/signin.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
{% endblock %}

{% block page_content %}

<!--error popup-->
{% if form.non_field_errors %}
<div class="alert alert-warning alert-dismissable form-signin-alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Ошибка!</strong> Что-то пошло не так:
    {% for element in form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endfor %}
</div>
{% endif %}

<div class="container">

        <form class="form-signin" role="form" method="post">
            <p><img class="logo-md" src="{{ STATIC_URL }}img/logo.png" /></p>
        {% comment %} <div class="form-signin-heading"><h2>{{ title }}</h2></div> {% endcomment %} 
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                 {% render_field field placeholder=field.label class+="form-control" %} 
                <div style="float: right;">
                    <h4>&times;</h4>
                </div>
            {% else %}
               {% render_field field placeholder=field.label class+="form-control" %} 
            {% endif %}
        {% endfor %}
        {% if "Log in" in title %}
        {% comment %} 
        <p>{% blocktrans with request.GET.next as next %}If you don't have an account you can <a href="{{ accounts_signup }}?next={{ next }}">sign up</a> for one now.{% endblocktrans %}</p> %} 
        {% endcomment %}
        <p>If you don't have an account you can <a href="{% url 'accounts_signup' %}">sign up</a> for one now.</p>
        {% elif "Sign up" in title %}
        {% comment %}
        <p>{% blocktrans with request.GET.next as next %}If you have an account you can <a href="{{ accounts_login }}?next={{ next }}">sign in</a> for one now.{% endblocktrans %}</p>
        {% endcomment %}
        <p>If you have an account you can <a href="{% url 'accounts_login' %}">sign in</a> for one now.</p>
         {% endif %}
        <div class="submit-container">
            {% block account_form_actions %}
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ title }}">
            {% endblock %}
        </div>
    </form>

</div>
{% endblock %}
