{% extends "_layouts/_base.html" %}
{% load i18n future mezzanine_tags accounts_tags widget_tweaks %}

{% block page_title %}{% blocktrans %} Change Password {% endblocktrans %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
{% endblock %}}

{% block page_content %}
<div class="profile-content col-md-6 .col-md-offset-3">
    <form class="form-signin" role="form" method="post">
        {% csrf_token %}
        <p><label class="h5"><strong>{% blocktrans %} Password {% endblocktrans %}</strong></label>
        {% render_field form.password1 placeholder=field.label class+="form-control" %} </p>
        <p><label class="h5"><strong>{% blocktrans %} Repeat Password {% endblocktrans %}</strong></label>
        {% render_field form.password2 placeholder=field.label class+="form-control" %} </p>
        <p><input class="btn btn-primary" type="submit" value="{% trans "Change password" %}"></p>
    </form>
</div>
{% endblock %}
