{% extends "_layouts/_base.html" %}
{% load i18n mezzanine_tags widget_tweaks %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/signin.css"/>
{% endblock %}

{% block page_content %}

<!--error popup-->
{% if form.non_field_errors %}
<div class="alert alert-warning alert-dismissable form-signin-alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Ошибка!</strong> Что-то пошло не так:
    {% for element in form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endfor %}
</div>
{% endif %}

<div class="form-container">
    <div class="form-title"><h2>{{ title }}</h2></div>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                <span class="form-title">{{ field.label }}</span>{{ field|add_class:"form-field" }}
                <div style="float: right;">
                    <h4>&times;</h4>
                </div>
            {% else %}
                <span class="form-title">{{ field.label }}</span>{{ field|add_class:"form-field" }}
            {% endif %}
        {% endfor %}
        {% if "Log in" in title %}
        {% comment %} 
        {WORKAROUND: разобраться с этой хуйней}
        <p>{% blocktrans with request.GET.next as next %}If you don't have an account you can <a href="{{ accounts_signup }}?next={{ next }}">sign up</a> for one now.{% endblocktrans %}</p> %} 
        {% endcomment %}
        {% url 'accounts_signup' as signup_url %}
        <p>{% blocktrans %} If you don't have an account you can <a href="{{ signup_url }}?next={{ next }}">sign up</a> for one now. {%endblocktrans %}</p>
        {% url 'accounts_reset' as reset_url %}
        <p>{% blocktrans %} <a href="{{ reset_url }}">Reset password?</a> {%endblocktrans %}</p>
        {% elif "Sign up" in title %}
        {% comment %}
        {WORKAROUND: разобраться с этой хуйней}
        <p>{% blocktrans with request.GET.next as next %}If you have an account you can <a href="{{ accounts_login }}?next={{ next }}">sign in</a> for one now.{% endblocktrans %}</p>
        {% endcomment %}
        {% url 'accounts_login' as login_url %}
        <p>{% blocktrans %} If you have an account you can <a href="{{ login_url }}?next={{ next }}">sign in</a> for one now. {% endblocktrans %}</p>
        {% endif %}
        <div class="submit-container">
            {% block account_form_actions %}
            <input class="submit-button" type="submit" value="{{ title }}">
            {% endblock %}
        </div>
    </form>
</div>
{% endblock %}