.site-container {
    border-radius: 2px;
    width: 1050px;
    margin: 70px auto 0;
}

.nav-container {
    position: relative;
    border-radius: 3px;
    border: 1px solid #999;
    margin: 0px 0px 15px;
    float: left;
    width: 250px;
}

.nav-container > h3 {
    font: 17px/1.4 Helvetica;
}

.profile-container {
    position: relative;
    border-radius: 2px;
    border: 1px solid #999;
    margin: 0px 0px 15px;
    padding: 0px 15px 15px; 
    float: right;
    width: 750px;
    background-color: #fff;
}

.profile-container > h3 {
    font: 17px/1.4 Helvetica;
}
.profile-name {
    margin: 0px;
    padding: 5px 15px;
}
.nav-container > a {
    text-align: left;
    padding-left: 15px;
}
.nav-container > a.active {
    border-right: 10px solid #428bca;
}
.profile-name img{
    padding: 0px;
}
.profile-container > .profile-name {
    margin: 0px -15px;
}