{% load i18n widget_tweaks %}
{% load static from staticfiles %}
<!doctype html>
<html>
<head>
    {% block page_css %}
    <link rel="shortcut icon" href="{% static "ico/favicon.png" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" href="{% static "css/alert-blackgloss.css" %}"/>
    {% endblock page_css %}
    <title>
        {% block page_title %}{% endblock %} - Virtual Hand Made Shop
    </title>
</head>
<body>
    <header>
        {% include "_layouts/_header.html" %}
    </header>
<!-- 
    <div id="content">
        <div class="container">
            {WORKAROUND: выпилить} -->
            <div class='notifications top-right blackgloss'></div> 
            {% block page_content %}
            {% endblock %}
       <!-- </div> -->
            {% block page_under_content %}
            {% endblock %}
    <!--/div-->
    <div id="footer">
        {% block page_footer %}
        {% endblock %}
    </div>
</body>
</html>

{% block page_js %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-notify.js" %}"></script>
<script src="{% static "js/scripts.js" %}"></script>
{% for message in messages %}
    <script type="text/javascript"> 
        //$('#alertModal').modal();
        $('.top-right').notify({
            closable: false,
            message: { 
                html: '<p>{{ message }}</p>',
                text: '{{ message }}' 
            },
            type: 'info'
        }).show();
    </script>
{% endfor %}
<script type="text/javascript"> 
{% if form.errors or form.non_field_errors %}
    {% for field in form %}
            {% if field.errors %}

        $('.top-right').notify({
            closable: false,
            message: { 
                html: '<strong>{% trans "Error" %} </strong><p>{{ field.label }}: {{ field.errors|striptags }}</p>',
                text: '<p>{{ field.label }}: {{ field.errors|striptags }}</p>' },
            type: 'info'
        }).show();
    
            {% endif %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            
        $('.top-right').notify({
            closable: false,
            message: { 
                text: '{{ error }}' },
            type: 'info'
        }).show();
        {% endfor %}    
{% endif %}
 </script>
{% endblock page_js %}