<!doctype html>
<html>
<head>
    {% block page_css %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    {% endblock page_css %}
    <title>
        {% block page_title %}{% endblock %} - Virtual Hand Made Shop
    </title>
</head>
<body>
    <header>
        {% include "_layouts/_header.html" %}
    </header>
    <div id="content">
        <div class="container">
            <!-- {WORKAROUND: выпилить} -->

            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Как ответственные пидарасы, сообщаем:</strong>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
                
            {% block page_content %}
            {% endblock %}
        </div>
            {% block page_under_content %}
            {% endblock %}
    </div>
    <div id="footer">
        {% block page_footer %}
        {% endblock %}
    </div>
</body>
</html>

{% block page_js %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock page_js %}