{% load url from future %}
{% load i18n %}

{% block page_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
{% endblock page_css %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Virtual Hand Made Shop</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{%comment%}{% url 'smartproject:home' %}{%endcomment%}">Домой</a></li>
                <li><a href="{%comment%}{% url 'smartproject:about' %}{%endcomment%}">О проекте</a></li>
                <li><a href="{%comment%}{% url 'smartproject:contact' %}{%endcomment%}">Контакты</a></li>
            </ul>
            {% if user.is_authenticated %}
                <div>
                    <a class="navbar-brand" href="{% url 'profiles_update' %}">
                        <span class="label label-info">
                            {% trans "Profile" %}
                        </span>
                    </a>
                </div>
                <form action="{% url 'accounts_logout' %}" class="navbar-form navbar-right">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{% trans "Sign out" %}</button>
                    </div>
                </form>
            {% else %}
                <form  action="{% url 'accounts_signup' %}" class="navbar-form navbar-right">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">{% trans "Sign up" %}</button>
                    </div>
                </form>
                <form action="{% url 'accounts_login' %}" class="navbar-form navbar-right">
                    <div class="form-group">
                        <button class="btn btn-primary">{% trans "Sign in" %}</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>