{% load url from future %}

        <a class="btn btn-default" href="{% url 'profiles_account' %}"><span class="glyphicon glyphicon-user"></span>Profile</a>
        <a class="btn btn-default active" href="{% url 'profiles_account' %}"><span class="glyphicon glyphicon-cog"></span>Account Settings</a>
        <a class="btn btn-default" href="{% url 'profiles_account' %}"><span class="glyphicon glyphicon-edit"></span>Blog settings</a>
        <a class="btn btn-default" href="{% url 'profiles_account' %}"><span class="glyphicon glyphicon-stats"></span>Statistic</a>
