{% extends "_layouts/_base.html" %}
{% load url from future %}
{% load utils_tags i18n %}
     {% block page_nav %}
        <a class="btn btn-default {% active 'profiles_update' %}" href="{% url 'profiles_update' %}">
            <span class="glyphicon glyphicon-user"/>
            {% trans "Profile" %}
        </a>
        <a class="btn btn-default {% active 'account_settings' %}" href="{% url 'account_settings' %}">
            <span class="glyphicon glyphicon-cog"></span>
            {% trans "Account Settings" %}
        </a>
        <a class="btn btn-default" href="">
            <span class="glyphicon glyphicon-edit"/>
            {% trans "Blog settings" %}
        </a>
        <a class="btn btn-default" href="">
            <span class="glyphicon glyphicon-stats"/>
            {% trans "Statistic" %}
        </a>
    {% endblock page_nav %}
