{% extends "_layouts/_base.html" %}
{% load i18n widget_tweaks %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/signin.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
{% endblock %}

{% block page_content %}

<div class="container">
    <form class="form-signin" role="form" method="post">
        <p><img class="logo-md" src="{{ STATIC_URL }}img/logo.png" /></p>
        {% csrf_token %}
        {% for field in form %}
            {% render_field field placeholder=field.label class+="form-control" %}
        {% endfor %}
        {% if "Sign in" in title %}
        {% url 'accounts_signup' as signup_url %}
        <p>{% blocktrans %} If you don't have an account you can
            <a href="{{ signup_url }}?next={{ next }}">sign up</a> for one now. {%endblocktrans %}</p>
        {% url 'accounts_reset' as reset_url %}
        <p>{% blocktrans %}
            <a href="{{ reset_url }}">Reset password?</a> {%endblocktrans %}</p>
        {% elif "Sign up" in title %}
        {% url 'accounts_login' as login_url %}
        <p>
            {% blocktrans %} If you have an account you can
            <a href="{{ login_url }}?next={{ next }}">sign in</a> for one now. {% endblocktrans %}
        </p>
        {% endif %}
        <div class="submit-container">
            {% block account_form_actions %}
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ title }}">
            {% endblock %}
        </div>
    </form>
</div>
{% endblock %}
