{% extends "_layouts/_base.html" %}
{% load i18n future mezzanine_tags accounts_tags widget_tweaks utils_tags profiles_tags %}
{% load static from staticfiles %}

{% block page_title %}{{ form|get_profile:"get_full_name" }}{% endblock %}

{% block page_css %}

<link rel="stylesheet" href="{% static "css/profile.css" %}"/>
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>

{% endblock %}

{% block page_content %}

<!-- {WORKAROUND: replace to _base} -->

<div class="site-container">
    <div class="nav-container btn-group-vertical text-left panel-default">
        <p class="profile-name panel-heading">

            <span><img class="img-thumbnail" src='{% static "img/default-avatar.jpeg" %}' height="16px" width="16px"/></span>
            <span class="h4">{{ user.username }}</span>
        </p>
        <!-- {WORKAROUND: replace to extend tag} -->
        {% include "_layouts/_nav.html" %}

    </div>
    <div class="profile-container panel-default">
        <p class="profile-name panel-heading">
            <span class="h4">{% trans "Profile" %}</span>
        </p>
        <div class="row panel-body">
            <form class="form-signin" role="form" method="post" enctype="multipart/form-data">
                <div class="profile-image col-md-3">
                    <p>
                        <img src='{% static "img/default-avatar.jpeg" %}' />
                        <br/>
                        <input id="id_avatar" type="file" name="avatar"/>
                    </p>
                </div>
                <div class="profile-content col-md-6 .col-md-offset-3">
                        {% csrf_token %}
                        <!-- {WORKAROUND: clear static label} -->
                        <p><label class="h5"><strong>First name</strong></label>
                        {% render_field form.first_name placeholder=field.label class+="form-control" %} </p>
                        <p><label class="h5"><strong>Last name</strong></label>
                        {% render_field form.last_name placeholder=field.label class+="form-control" %}</p> 
                        <p><input class="btn btn-primary" type="submit" value="{{ title }}"></p>
                </div>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}
