{% extends "_layouts/_base.html" %}
{% load i18n future mezzanine_tags accounts_tags widget_tweaks %}

{% block page_title %}{{ user.username }}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css"/>
{% endblock %}

{% block page_content %}

<!--ВЫПИЛИТЬ-->
<br><br><br><br><br><br><br>

<div class="site-container">
    <div class="nav-container">
        <h3>{{ p.user }}</h3>
    </div>
    <div class="profile-container">
        <h3>Public Profile</h3>
        <div class="row">
            <div class="profile-image col-md-3">
                <img class="img-thumbnail" src="{% gravatar_url profile_user.email 128 %}">
            </div>
            <div class="profile-content col-md-9">
                <h2>{{ profile_user.get_full_name }}</h2>
                {% for field in form  %}
                <h3>{{ field }}</h3>
                {% endfor %}
                {% if form.user == request.user %}
                    <br><a class="btn btn-primary" href="{% url profiles_update p.user %}">{% trans "Update1 profile" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
