{% extends "_layouts/_base.html" %}
{% load i18n future widget_tweaks %}
{% load static from staticfiles %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
{% endblock %}

{% block page_content %}

<!--error popup-->
{% if form.errors or form.non_field_errors %}
<div class="alert alert-warning form-signin-alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{% trans "Error" %}</strong>
    {% for field in form %}
        {% if field.errors %}
        <p>{{ field.label }}: {{ field.errors|striptags }}</p>
        {% endif %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}
</div>
{% endif %}

<div class="site-container">
    <div class="nav-container btn-group-vertical text-left panel-default">
        <p class="profile-name panel-heading">
            <span><img class="img-thumbnail" src='{% static "img/default-avatar.jpeg" %}' height="16px" width="16px"/></span>
            <span class="h4">{{ user.username }}</span>
        </p>
        {% include "_layouts/_nav.html" %}
    </div>
    <div class="profile-container panel-default">
        <p class="profile-name panel-heading">
            <span class="h4">{% trans "Password Settings" %}</span>
        </p>
        <div class="row panel-body">
            <div class="profile-content col-md-6 .col-md-offset-3">
                <form class="form-signin" role="form" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% render_field field placeholder=field.label class+="form-control" %} </p>
                    {% endfor %}
                    <p><input class="btn btn-primary" type="submit" value="{% trans 'Update Password' %}"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}